<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>用户列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../san/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../san/style/admin.css" media="all">
    <script src="../../san/style/js/vue.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        [v-cloak]{
            display: none;
        }
        .checkallbox input{
            font-size: 15px;
            position: relative;
            top: 8px;
        }
        .selectbox{
            height: 38px;
            width: 180px;
            position: relative;
            display: inline-block;
            border: 1px solid #e6e6e6;
        }
        .selectbox>select{
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
        }
        .imgtr{
            height: 40px;
            position: relative;
            font-size: 0px;
        }
        .goodimg{
            height: 40px;
            width: 40px;
            border-radius: 20px;
            overflow: hidden;
            font-size: 0;
        }
        .goodimg>img{
            width: 100%;
            height: 100%;
            font-size: 0;
        }
        .trval{
            height: 40px;
            left: 65px;
            position: absolute;
            top: 9px;
            font-size: 14px;
        }
        .layui-form-item{
            margin-bottom: 0px;
        }
        .findlist{
            padding: 15px 0;
        }
        .serchnav{
            display: flex;
        }
        .selectu{
            text-indent: 5px;
            color: #ccc;
            font-size: 15px;
        }
        .selectu2{
            color: black;
            text-indent: 5px;
            font-size: 15px;
        }
        .selectu2>option{
            color: black;
        }
        .selectu>option{
            color: black;
        }
        .btntr>a{
            border: none;
        }
        .el-cascader{
        }


        .productsbox{
            width: 70%;
            margin-top: 30px;
            margin-bottom: 30px;
            min-height: 300px;
        }
        .listitem{
            font-size: 14px;
            display: flex;
            margin-bottom: 15px;
        }
        .listitem>:nth-child(1){
            width: 30%;
            text-align: right;
            margin-right: 3%;
            display: inline-block;
        }
        .listitem>:nth-child(2){
            width: 50%;
            display: flex;
        }
        .listitem span{
            margin-right: 15px;
        }
        .grid-demo {
            width: 70px;
            height: 30px;
            outline: 1px solid #cfcfcf;
            line-height: 30px;
            text-align: center;
            margin-top: 5px;
            float: right;
            font-size: 12px;
            cursor: pointer;
        }
        .grid-demo:hover {
            background-color: #2e8ded;
            color: white;
            outline: none;
        }
        .imgshow img{
            width: 40px;
            height: 40px;
            border-radius: 20px;
            margin-right:10px;
        }
        .imgshowlist img{
            width: 80px;
            height: 80px;
            border-radius: 2px;
            margin-right:10px;
        }
        .btn{
            display: inline-block;
            margin-right: 10px;
            margin-top: 20px;
            padding:  0 15px;
        }

        .banitem{
            display: flex;
            height: 40px;
            line-height: 40px;
        }
        .el-radio{
            line-height: 40px;
        }
        th{
            font-weight: bold!important;
        }
        .layui-layout-body{
            overflow-y: auto;
        }
    </style>
</head>
<body class="layui-layout-body">

<div class="layui-fluid" id="app" v-cloak>
    <div class="layui-card">
        <div class="layui-card-header">用户列表（共{{allpagenum}}条记录）</div>
        <div class="layui-card-body">
            <div class="layui-row findlist">
                <div class="layui-col-md9 layui-col-md-offset3">
                    <div class="">
                        <div class="layui-form-item layui-form-itemtop">
                            <div class="serchnav" style="float: right;margin-right: 0px !important;">
                                <div class="block" style="width: 165px;height: 32px;margin-right: 5px">
                                    <el-cascader
                                            :options="optionsrole"
                                            v-model="roleselect"
                                            placeholder="选择角色"
                                            @change="handleChangerole">
                                    </el-cascader>
                                </div>
                                <div class="block" style="width: 165px;height: 32px;margin-right: 5px">
                                    <el-cascader
                                            :options="optionsstatus"
                                            v-model="statusselect"
                                            placeholder="选择状态"
                                            @change="handleChangestatus">
                                    </el-cascader>
                                </div>
                                <div class="block" style="width: 165px;height: 32px;margin-right: 5px">
                                    <el-cascader
                                            :options="optionssex"
                                            placeholder="选择性别"
                                            v-model="sexselect"
                                            @change="handleChangesex">
                                    </el-cascader>
                                </div>
                                <div class="block" style="width: 165px;height: 32px;margin-right: 5px">
                                    <el-cascader
                                            :options="optionsjobType"
                                            placeholder="选择职业"
                                            v-model="jobTypeselect"
                                            @change="handleChangejobType">
                                    </el-cascader>
                                </div>


                                <div class="block" style="width: 165px;height: 32px;margin-right: 5px">
                                    <el-cascader
                                            :options="options2"
                                            v-model="selectedOptions2"
                                            placeholder="选择搜索类型"
                                            @change="handleChange2">
                                    </el-cascader>
                                </div>
                                <div style="margin-right: 5px">
                                    <el-input type="text" v-model="key" :disabled="selectedOptions2==''" :placeholder="selectplc"></el-input>
                                </div>
                                <div class="block" style="width: 165px;height: 32px;margin-right: 5px">
                                    <el-cascader
                                            :options="options3"
                                            placeholder="选择排序"
                                            v-model="selectedOptions3"
                                            @change="handleChange3">
                                    </el-cascader>
                                </div>
                                <div>
                                    <el-button type="primary" @click="findClient">查找</el-button>
                                    <!--<button type="submit" class="layui-btn layui-btn-normal" @click="findClient">查找</button>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table class="layui-table" lay-skin="line" >
                <colgroup>
                    <col width="130">
                    <col width="60">
                    <col width="80">
                    <col width="80">
                    <col width="100">
                    <col width="60">
                    <col width="100">
                    <col width="100">
                    <col width="100">
                    <col width="100">
                    <col width="60">
                    <col width="120">
                </colgroup>
                <thead>
                <tr>
                    <th>用户</th>
                    <th>性别</th>
                    <th>职业</th>
                    <th>角色</th>
                    <th>会员到期时间</th>
                    <th>任务余额</th>
                    <th>零钱</th>
                    <th>手机号</th>
                    <th>注册时间</th>
                    <th>最后登录时间</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody v-if="tabledata.length>0">
                <tr v-for="item in tabledata">
                    <td class="imgtr">
                        <div class="goodimg">
                            <img :src="item.headImgUrl">
                        </div>
                        <div class="trval">
                            <p style="height: 25px">{{item.nickName}}</p>
                            <p>{{item.id}}</p>
                        </div>
                    </td>
                    <td>
                        <span v-if="item.sex==0">未知</span>
                        <span v-if="item.sex==1">男</span>
                        <span v-if="item.sex==2">女</span>
                    </td>
                    <td>
                        <span v-if="item.jobType==1">学生</span>
                        <span v-if="item.jobType==2">教师</span>
                        <span v-if="item.jobType==3">全职妈妈</span>
                        <span v-if="item.jobType==4">上班族</span>
                        <span v-if="item.jobType==5">老板</span>
                        <span v-if="item.jobType==6">公务员</span>
                        <span v-if="item.jobType==7">自由职业者</span>
                    </td>
                    <td>
                        <span v-if="item.role==1">普通用户</span>
                        <span v-if="item.role==2">月会员</span>
                        <span v-if="item.role==3">年费会员</span>
                    </td>
                    <td>{{item.memberExpireDate}}</td>
                    <td>{{item.taskAccount}}</td>
                    <td>{{item.account}}</td>
                    <td>{{item.phone}}</td>
                    <td>{{item.registDate}}</td>
                    <td>{{item.lastLoginDate}}</td>
                    <td>
                        <span v-if="item.status==-1" style="color: red">永久封禁</span>
                        <span v-if="item.status==0" style="color: red">封禁</span>
                        <span v-if="item.status==1">正常</span>
                    </td>
                    <td class="btntr">
                        <a class="layui-btn layui-btn-sm layui-btn-normal" @click="lookdetai(item)">查看</a>
                        <a class="layui-btn layui-btn-sm layui-btn-danger" v-if="item.status==1" @click="banfn(item)">封禁</a>
                        <a class="layui-btn layui-btn-sm layui-btn-warm" v-if="item.status==-1||item.status==0" @click="jiefengfn(item)">解封</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <!--暂无数据-->
            <div v-if="tabledata.length==0" class="lodmore" style="width: 100%;height:auto">
                <div class="noimg"><img src="../../san/style/images/nodata.png" alt=""></div>
                <div>暂无相关信息</div>
            </div>
            <div style="text-align: center" id="showpage">分页</div>
        </div>
    </div>
    <el-dialog title="封禁用户" :visible.sync="dialogTableVisible">
        <div class="banitem"><div style="width: 100px;text-align: right;margin-right: 10px">用户id：</div>{{banobj.id}}</div>
        <div class="banitem"><div style="width: 100px;text-align: right;margin-right: 10px">用户姓名：</div>{{banobj.nickName}}</div>
        <div class="banitem">
            <div style="width: 100px;text-align: right;margin-right: 10px">封禁类型：</div>
            <el-radio v-model="radio" label="0">封禁</el-radio>
            <el-radio v-model="radio" label="-1">永久封禁</el-radio>
        </div>
        <div class="banitem" v-if="radio==0">
            <div style="width: 100px;text-align: right;margin-right: 10px">封禁截止日期：</div>
            <el-date-picker
                    v-model="closedate"
                    type="datetime"
                    @change="datefn"
                    placeholder="选择日期时间">
            </el-date-picker>
        </div>
        <div class="banitem" style="height: 100px;margin-top: 20px">
            <div style="width: 100px;text-align: right;margin-right: 10px">封禁原因：</div>
            <el-input
                    style="width: 60%"
                    type="textarea"
                    :rows="3"
                    placeholder="封禁原因"
                    v-model="reason">
            </el-input>
        </div>
        <div class="banitem" style="margin-top: 20px">
            <div style="width: 100px;text-align: right;margin-right: 10px"></div>
            <el-button type="danger" size="mini" style="width: 120px;height: 35px" @click="tobanfn">封禁</el-button>
        </div>
    </el-dialog>
</div>

<script src="../../san/layui/layui.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="../../san/style/js/url.js" type="text/javascript" charset="utf-8"></script>
<script src="../../san/style/js/jquery-3.3.1.min.js"></script>
<script>
    layui.config({
        base: '../../san/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index','form']);
</script>
<script>
    var urlval = geturl()
    var app = new Vue({
        el:'#app',
        data:{
            tabledata:[],
            pagenum:1, /*页数*/
            pagesize:20,/*一页的条数*/
            allpagenum:'',
            selectedOptions:'',
            selectedOptions2:'',
            selectedOptions3:'',
            options: [
                {
                    value: '',
                    label: '请选择',
                },{
                value: 'role',
                label: '角色',
                children: [
                    {value: '1', label: '普通用户',},
                    {value: '2', label: '月会员',},
                    {value: '3', label: '年费会员',}
                    ]
                },
                {
                    value: 'status',
                    label: '状态',
                    children: [{
                        value: '1',
                        label: '正常',
                    }, {
                        value: '0',
                        label: '封禁',
                    }, {
                        value: '-1',
                        label: '永久封禁',
                    }]
                },
                {
                    value: 'sex',
                    label: '性别',
                    children: [{
                        value: '0',
                        label: '未知',
                    }, {
                        value: '1',
                        label: '男',
                    }, {
                        value: '2',
                        label: '女',
                    }]
                },
                {
                    value: 'jobType',
                    label: '职业',
                    children: [
                        {value:1,label:'学生'},
                        {value:2,label:'教师'},
                        {value:3,label:'全职妈妈'},
                        {value:4,label:'上班族'},
                        {value:5,label:'老板'},
                        {value:6,label:'公务员'},
                        {value:7,label:'自由职业者'},
                    ]
                }
            ],
            options2: [
                {value: '', label: '请选择',},
                {value: 1, label: 'id',},
                {value: 2, label: '昵称',},
                {value: 3, label: '手机号',},
                {value: 4, label: '邀请码',},
            ],
            options3: [
                {value: 1, label: '零钱',},
                {value: 2, label: '任务余额',},
                {value: 3, label: '最近登陆',},
                {value: 4, label: '最新注册',},
            ],
            roleselect:'',
            optionsrole: [
                {value: '', label: '选择角色',},
                {value: '1', label: '普通用户',},
                {value: '2', label: '月会员',},
                {value: '3', label: '年费会员',}
            ],
            statusselect:'',
            optionsstatus: [
                {value: '', label: '选择状态',},
                {value: '1', label: '正常',},
                {value: '0', label: '封禁',},
                {value: '-1', label: '永久封禁',}
            ],
            sexselect:'',
            optionssex: [
                {value: '', label: '选择性别',},
                {value: '0', label: '未知',},
                {value: '1', label: '男',},
                {value: '2', label: '女',}
            ],
            jobTypeselect:'',
            optionsjobType: [
                {value:'',label:'选择职业'},
                {value:1,label:'学生'},
                {value:2,label:'教师'},
                {value:3,label:'全职妈妈'},
                {value:4,label:'上班族'},
                {value:5,label:'老板'},
                {value:6,label:'公务员'},
                {value:7,label:'自由职业者'},
            ],

            selectplc:'请输入搜索类型值',

            nowpage:1,
            searchType:'',
            key:'',
            role:'',
            sex:'',
            status:'',
            jobType:'',
            sortType:4,
            firstclick:true,
            clickserch:false,

            //弹框层
            dialogTableVisible:false,
            banobj:'',
            radio:'0',
            closedate:'',
            datechuo:'',
            reason:'',
        },
        methods:{
            /*分页*/
            clickpage(){
                let _this = this
                layui.use('laypage', function(){
                    var laypage = layui.laypage;
                    laypage.render({
                        elem: 'showpage'
                        ,theme: '#1E9FFF'
                        ,limit: _this.pagesize
                        ,count: _this.pagenum //数据总数，从服务端得到
                        ,layout: [ 'prev', 'page', 'next', 'skip','count',]
                        ,jump: function(obj, first){
                            //obj包含了当前分页的所有参数，比如：
                            console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                            console.log(obj.limit); //得到每页显示的条数
                            _this.nowpage = obj.curr
                            //首次不执行
                            if(!_this.firstclick){
                                if(_this.clickserch){
                                    _this.clickserch = false
                                }else {
                                    _this.getdata(false,false)
                                }
                            }else {
                                _this.firstclick = false
                            }
                            if(!first){
                                //do something
                            }
                        }
                    });
                });
            },
            handleChangerole(){
                if(this.roleselect.length>0){
                    this.role = this.roleselect[0]
                }
            },//角色赛选
            handleChangestatus(){
                if(this.statusselect.length>0){
                    this.status = this.statusselect[0]
                }
            },//状态赛选
            handleChangesex(){
                if(this.sexselect.length>0){
                    this.sex = this.sexselect[0]
                }
            },//性别赛选
            handleChangejobType(){
                if(this.jobTypeselect.length>0){
                    this.jobType = this.jobTypeselect[0]
                }
            },//性别赛选
            handleChange2(){
                if(this.selectedOptions2.length>0){
                    if(this.selectedOptions2[0]==''){
                        this.searchType = ''
                        this.key = ''
                        this.selectedOptions2 = ''
                    }else {
                        this.searchType = this.selectedOptions2[0]
                    }
                }
            },
            handleChange3(){
                this.sortType = this.selectedOptions3[0]
            },
            findClient(){
                this.clickserch = true
                this.getdata(true)
            },
            lookdetai(item){
                console.log(item)
                window.location.href = 'userlist_show.html?id='+item.id
            },
            timestampToTime(timestamp) {
                var date = timestamp;//时间戳为10位需*1000，时间戳为13位的话不需乘1000
                var Y = date.getFullYear() + '-';
                var M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
                var D = date.getDate() + ' ';
                var h = date.getHours()
                if(h<10){
                    h = '0'+h
                }
                h = h + ':';
                var m = date.getMinutes()
                if(m<10){
                    m = '0'+m
                }
                m = m + ':';
                var s = date.getSeconds();
                if(s<10){
                    s = '0'+s
                }
                return Y+M+D+h+m+s;
            },
            datefn(){
                this.datechuo = this.timestampToTime(this.closedate)
                console.log(this.datechuo)
            },
            jiefengfn(item){
                let _this = this
                console.log(item)
                this.$confirm('此操作将解封此用户状态, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    var obj = {
                        userId:item.id,
                    }
                    obj = JSON.stringify(obj)//这个转化数据是有些接口需要的 有些不需要转化  看公司看后端
                    var data = {
                        param:obj,
                    }
                    $.ajax({
                        url:urlval+'/user/openUser',//url地址：ip地址+端口号+接口路径
                        data:data,
                        type: "POST",
                        headers:{'token':localStorage.getItem("token")},
                        success:function (res) {
                            console.log(res,'res')
                            _this.getdata(false)
                            _this.$message({
                                type: 'success',
                                message: res.msg+'!'
                            });
                        }
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消'
                    });
                });
            },
            banfn(item){
                this.banobj = item
                this.dialogTableVisible = true
            },
            tobanfn(){
                let _this = this
                if(this.reason==''){
                    layui.msg('请输入封禁原因')
                    return false
                }
                if(this.radio==-1){
                    this.datechuo = ''
                }else {
                    if(this.datechuo==''){
                        layui.msg('请选择封禁截止日期')
                        return false
                    }
                }
                var obj = {
                    userId:this.banobj.id,
                    status:this.radio,
                    closeDate:this.datechuo,
                    reason:this.reason,
                }
                obj = JSON.stringify(obj)
                var data = {
                    param:obj,
                }
                console.log(data,'data')
                $.ajax({
                    url:urlval+'/user/closeUser',//url地址：ip地址+端口号+接口路径
                    data:data,
                    type: "POST",
                    headers:{'token':localStorage.getItem("token")},
                    success:function (res) {
                        layer.msg(res.msg)
                        if(res.code==1){
                            _this.getdata(false)
                            _this.dialogTableVisible = false
                        }
                    }
                })
            },
            getdata(type){
                let _this = this
                var obj = {
                    pageSize:this.pagesize,
                    pageNum:this.nowpage,
                    searchType:this.searchType,
                    key:this.key,
                    role:this.role,
                    sex:this.sex,
                    status:this.status,
                    jobType:this.jobType,
                    sortType:this.sortType,
                }
                obj = JSON.stringify(obj)//这个转化数据是有些接口需要的 有些不需要转化  看公司看后端
                var data = {
                    param:obj,
                }
                $.ajax({
                    url:urlval+'/user/getUserList',//url地址：ip地址+端口号+接口路径
                    data:data,
                    type: "get",
                    headers:{'Content-Type':'application/json;charset=utf8','token':localStorage.getItem("token")},
                    success:function (res) {
                        if(res.data.page.list){
                            _this.tabledata = res.data.page.list
                            _this.allpagenum= res.data.page.total
                            _this.pagenum = res.data.page.total
                            if(type){
                                _this.clickpage()
                            }
                        }
                    }
                })
            },
        },
        created(){
            this.getdata(true)
        }
    })
</script>
</body>
</html>


